@page "/treeviewtelerik"

<TelerikTreeView OnExpand="@OnExpand"
                 SelectedItemsChanged="@OnSelect"
                 OnItemClick="@OnItemClick"
                 OnItemDoubleClick="@OnItemDoubleClick"
                 OnItemContextMenu="@OnItemContextMenu"
                 Data="@FlatData"
                 @bind-ExpandedItems="@ExpandedItems"
                 SelectionMode="@SelectionMode">
    <TreeViewBindings>
        <TreeViewBinding ParentIdField="ParentIdValue"></TreeViewBinding>
    </TreeViewBindings>
</TelerikTreeView>
<br />
<h5>@EventLog.Replace('"',' ')</h5>
<br />
@if (EventTag!= null)
{
    <h5>@EventTag.GetType()</h5>
}


